@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap');
@import './variables.scss';

//--------------------Index--------------------
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header{
    padding: 30px 0;
    .contenedor{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        font-size: 2.5em;
    }
    nav a {
        text-decoration: none;
        margin-right: 1.25em;
        color: $colorBlanco;
    }
    nav a:hover{
        color: $colorGris;
    }
}

.indexMain{
    grid-template-areas: "portada"
    "planes"
    "estrenos"
    "compatibilidad"
    "preguntas";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
}

.portada{
    grid-area: portada;
    margin: 2.5em auto;
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 2em;
            font-style: none;
            text-align: center;
        }
        h2{
            font-size: 1.25em;
            font-style: none;
            text-align: center;
        }
        h4{
            font-size: 0.9em;
            font-style: none;
            text-align: center;
        }
        form {
            button{
                @include formato(12.5em,3.125em);
            }
            input{
                @include formato(31.25em,3.125em);
            }
        }
    }
}

.contenedorPlanes{
    grid-area: planes;
    padding-top: 1.875em;
    display: flex;
    justify-content: center;
    .contenedorPlanes__div{
        margin: 0.625em;
        @include formato(18.75em,18.75em);
    }
}

.proximosEstrenos{
    grid-area: estrenos;
    display: flex;
    justify-content: center;
    margin: 0.625em;
    img{
        cursor: pointer;
        transition: all 300ms ease;
        width: 15.625em;
        margin: 0 5px;
    }
    img:hover{
        transform: scale(1.1);
        z-index: 1;
    }
}

.contenedorCom{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    .contenedorCompatibilidad__div{
        margin: 0.625em;
        @include formato(18.75em,18.75em);
        .contenedorCompatibilidad__div__lista{
            list-style: none;
        }
        .contenedorCompatibilidad__div__img{
            @include formato(4.375em,4.375em);
        }
    }
}

.contenedorCompatibilidad{
    grid-area: compatibilidad;
    padding-top: 1.875em;
    display: flex;
    justify-content: center;

}

.accordion {
    grid-area: preguntas;
}


//--------------------home--------------------

.contenedorEmpresasHome {
    width: 60%;
    margin: auto;
}

.contenedorPeliculasHome {
    width: 350px;
}

.contenedorFlex {
    display: flex;
}

.imgHover{
    cursor: pointer;
    transition: all 300ms ease;
}

.imgHover:hover{
    transform: scale(1.1);
    z-index: 1;
}

//--------------------pelicula--------------------

.peliculasPrincipal {
    display: flex;
    flex-direction: column;
}

.tituloPrincipalPeliculas {
    display: flex;
}

.tituloPrincipalPeliculas select {
    color: $colorNegro;
}

.contenedorPeliculas {
    img {
        width: 20em;
    }
}

//--------------------contacto--------------------

.formSection {
    padding: 30px;
    margin: 25px auto;
    border-radius: 15px;
}

.sectionForm {
    display: flex;
    justify-content: center;
    margin: auto;
}

//--------------------serie--------------------
.cardSerie img{
    width: 300px;
}

.portadaSerie {
    margin-bottom: 30px;
}

.series {
    margin: 40px auto;
    .contenedor{
        display: grid;
        grid-template-areas: "texto portadas";
        .series__div{
            grid-area: texto;
            color: $colorBlanco;
            .series__div__titulo {
                font-weight: 600;
                font-size: 3.12em;
                margin-bottom: 0.4em;
            }
            .series__div__descripcion {
                font-weight: normal;
                font-size: 1em;
                line-height: 1.75em;
                max-width: 50%;
                margin-bottom: 1.25em;
            }
        }
        .series__img {
            grid-area: portadas;
            display: flex;
            img {
                width: 15.625em;
            }
        }
    }
}


footer{
    margin-top: 1.875em;
    .contenedor{
        display: flex;
        justify-content: space-between;
        padding: 0.625em;
    }
    .redes div{
        display: flex;
        flex-direction: column;
        text-align: center;
        a{
            text-decoration: none;
            color: $colorBlanco;
        }
        a:hover{
            color: $colorGris;
        }
    }
    .informacion div{
        h4{
            font-size: 1.25em;
            text-align: center;
        }
        p {
            font-size: 1em;
            text-align: center;
        }
        a {
            text-decoration: none;
        }
    }

}

@media (max-width:1200px){
    .portada__img{
        width: 100%;
    }
    .contenedorPlanes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .contenedorPlanes__titulo {
            margin: 0 auto;
        }
        .contenedorPlanes__div {
            @extend .contenedorPlanes__titulo;
        }
    }
    .proximosEstrenos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedorCom {
        display: flex;
        flex-direction: column;
        .contenedorCompatibilidad__div {
            margin: 15px auto;
        }
    }
    .contenedorCompatibilidad__titulo{
        @extend .contenedorPlanes__titulo;
    }
    .contenedorPeliculas  {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:800px) {
    header{
        .contenedor{
            display: flex;
            flex-direction: column;
        }
    }
    .portada{
        .contenedor{
            form{
                button{
                    @include formato(6.25em,3.125em);
                }
                input{
                    @include formato(21.875em,3.125em);
                }
            }
        }
    }
    .recomendados{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .contenedorPeliculas{
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    .peliculaPrincipal__titulo {
        font-weight: 600;
        font-size: 3em;
        margin-bottom: 0.4em;
    }
    .peliculaPrincipal__descripcion {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em;
    }
    .series {
        .contenedor {
            display: grid;
            grid-template-areas: "texto"
            "portadas";
            .series__div {
                display: flex;
                justify-content: space-between;
            }
            .series__img{
                display: grid;
             grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            }
        }
    }
    footer{
        .contenedor{
            flex-direction: column;
            align-items: center;
        }
        .redes {
            margin: 2em auto;
        }
    }
}

@media (max-width:600px){
    .recomendados{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .contenedor{
        h2{
            text-align: center;
        }
    }

    .series{
        .contenedor{
            .series__img{
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
            }
            .series__div{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

